# m h  dom mon dow   command

# every 5 minutes
*/5  * * * * jsub -N sandbox          -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/sandbox.py

# hourly
0 *    * * * jsub -N autopurge-hourly -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/autopurge.py --hourly --nolog
0 *    * * * jsub -N techtasks        -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/techtasks.py
0 0    * * * jsub -N validation-stats -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/validstats.py $HOME/data/validation.tsv

# daily
0 0    * * * jsub -N autopurge-daily  -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/autopurge.py --daily --null --nolog
0 0    * * * jsub -N tow-update       -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/tow.py
0 0    * * * jsub -N actual-afd       -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/actual_afd.py
0 0    * * * jsub -N userscript-stats -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/userscripts.py

# weekly
0 0    * * 6 jsub -N afi              -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/afi.py
0 12   * * 0 jsub -N validation-plots -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/validplots.py $HOME/data/validation.tsv
0 0    * * 5 jsub -N sort-unrev-files -quiet -o /dev/null -e /dev/null python3 $HOME/facenapalmscripts/sort_unrev_files.py
